<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="defaultConn" value="data source=localhost;initial catalog=XXXXX;password=@password@;user id=sa;Pooling=true;Min Pool Size=5;Max Pool Size=100"/>
  </appSettings>
</configuration>